{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
</head>
<body>

<div class="login-container">
    <img class="logo" src="https://res.cloudinary.com/hotitu8ux/image/upload/v1753052867/ChatGPT_Image_Jul_21_2025_02_04_13_AM_pdvl73.png" alt="Logo">

    <h2>Login</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <label for="id_username">Username</label>
        {{ form.username }}

        <label for="id_password">Password</label>
        {{ form.password }}

        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}

        <button type="submit">Login</button>
    </form>
    <div class='forgot_links'>
        <p>
            <a href="#">Forgot your username?</a><br>
            <a href="#">Forgot your password?</a>
        </p>
    </div>
</div>

</body>
</html>
