{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'accounts/register.css' %}">
</head>
<body>
  <div class="register-container">
    <img class="logo" src="https://res.cloudinary.com/hotitu8ux/image/upload/v1753391970/logo_nds6qt.png" alt="Logo">
    
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        
        {% for error in form.non_field_errors %}
          <p style="color: red;">{{ error }}</p>
        {% endfor %}

        <label for="id_first_name">First name</label>
        {{ form.first_name }}

        <label for="id_last_name">Last name</label>
        {{ form.last_name }}

        <label for="id_email">Email</label>
        {{ form.email }}

        <label for="id_username">Username</label>
        {{ form.username }}

        <label for="id_phone">Phone Number</label>
        {{ form.phone }}

        <label for="id_password">Password</label>
        {{ form.password }}

        <label for="id_password2">Confirm Password</label>
        {{ form.password2 }}

        <button type="submit">Register</button>
    </form>
  </div>
</body>
